.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration-line: underline;
  margin-bottom: 43px;
  padding: 0 30px;
  font-family: 'Roboto', sans-serif;

  .footer__link--term,
  .footer__link--privacy {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-decoration-line: underline;
    color: $gray;
    transition: all 0.2s linear;

    &:hover {
      color: $white;
    }
  }
}
