.offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 28px 25px 10px;
  color: $white;
  font-family: 'SF Pro Display', sans-serif;

  .offer__item1,
  .offer__item2 {
    padding: 25px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 162px;
    width: 131px;
    opacity: 0.35;
    cursor: pointer;
    transition: opacity 0.05s linear;

    &:hover {
      opacity: 0.45;
      transition: opacity 0.05s linear;
    }

    .offer__title1,
    .offer__title2 {
      font-size: 18.7px;
      line-height: 22px;
    }

    .offer__price1,
    .offer__price2 {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      font-family: 'SF Pro Display', sans-serif;

      strong {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
      }
    }

    .offer__rectangle1,
    .offer__rectangle2, {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      background-color: $borderPrice;
      height: 20px;
      width: 105%;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 700;

      .offer__status1,
      .offer__status2 {
        text-transform: uppercase;
      }
    }

    .active__rectangle {
      font-size: 15.4px;
      line-height: 18px;
      height: 22px;
    }

    .offer__month1,
    .offer__month2 {
      font-size: 13.2px;
      line-height: 15px;
    }
  }

  .offer__item2 {
    position: relative;
    left: -10px;

    .offer__discount {
      position: absolute;
      right: 0;
      top: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $red;
      color: $white;
      font-size: 12px;
    }
  }

  .active {
    height: 178px;
    width: 152px;
    opacity: 1;
    transition: opacity 0.05s linear;

    .offer__discount {
      width: 34px;
      height: 34px;
      font-size: 13px;
    }

    &:hover {
      transition: opacity 0.05s linear;
      opacity: 0.8;
    }
  }

  .offer__item1 {
    background: url('../images/combined-shape.png') no-repeat;
    background-size: contain;
  }

  .offer__item2 {
    background: url('../images/combined-shape-cut.png') no-repeat;
    background-size: contain;
  }
}
