.offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 28px 25px 10px;
  color: $white;
  font-family: 'SF Pro Display', sans-serif;

  .offer__item1,
  .offer__item2 {
    padding: 25px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 162px;
    width: 131px;
    opacity: 0.35;
    cursor: pointer;
    transition: opacity 0.05s linear;

    &:hover {
      opacity: 0.45;
      transition: opacity 0.05s linear;
    }

    .offer__title1,
    .offer__title2 {
      font-size: 18.7px;
      line-height: 22px;
    }

    .offer__price1,
    .offer__price2 {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      font-family: 'SF Pro Display', sans-serif;

      strong {
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
      }
    }

    .offer__rectangle1,
    .offer__rectangle2, {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      background-color: $borderPrice;
      height: 20px;
      width: 105%;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 700;

      .offer__status1,
      .offer__status2 {
        text-transform: uppercase;
      }
    }

    .active__rectangle {
      font-size: 15.4px;
      line-height: 18px;
      height: 22px;
    }

    .offer__month1,
    .offer__month2 {
      font-size: 13.2px;
      line-height: 15px;
    }

    @media (max-width: 375px) {
      padding: 15px 0 10px;
      height: 142px;
      width: 121px;

      .offer__title1,
      .offer__title2 {
        font-size: 16px;
        line-height: 19px;
      }

      .offer__price1,
      .offer__price2 {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        font-family: 'SF Pro Display', sans-serif;

        strong {
          font-size: 19px;
          line-height: 19px;
          font-weight: 700;
        }
      }

      .offer__rectangle1,
      .offer__rectangle2, {
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        background-color: $borderPrice;
        height: 18px;
        width: 105%;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 700;
      }

      .active__rectangle {
        font-size: 13.6px;
        line-height: 15px;
        height: 20px;
      }

      .offer__month1,
      .offer__month2 {
        font-size: 12px;
        line-height: 13px;
      }
    }
  }

  .offer__item2 {
    position: relative;
    left: -10px;

    .offer__discount {
      position: absolute;
      right: 0;
      top: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $red;
      color: $white;
      font-size: 12px;

      @media (max-width: 375px) {
        top: 0.25px;
        right: 5px;

        width: 26px;
        height: 26px;
        font-size: 10px;
      }
    }
  }

  .offer__item1 {
    background: url('../images/combined-shape.png') no-repeat;
    background-size: contain;
  }

  .offer__item2 {
    background: url('../images/combined-shape-cut.png') no-repeat;
    background-size: contain;
  }

  .active {
    height: 178px;
    width: 152px;
    opacity: 1;
    transition: opacity 0.05s linear;

    .offer__discount {
      top: -0.25px;
      right: 7px;
      width: 33px;
      height: 33px;
      font-size: 13px;

      @media (max-width: 375px) {
        top: -0.25px;
        right: 3px;
        width: 31px;
        height: 31px;
        font-size: 11.5px;
      }
    }

    &:hover {
      transition: opacity 0.05s linear;
      opacity: 0.8;
    }

    @media (max-width: 375px) {
      height: 163px;
      width: 137px;
    }
  }

  @media (max-height: 680px) {
    margin-top: 15px;
  }

  @media (max-width: 375px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}
