.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    
    background: url('../images/background-full/4.png') no-repeat;
    background-size: cover;
    max-width: 450px;
    margin: 0 auto
}