.sending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  .sending__link {
    text-decoration: none;
    font-size: 17px;

    .sending__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 54px;
      border-radius: 30px;
      color: $white;
      border: none;
      font-family: 'SFProDisplay', sans-serif;

      background: linear-gradient(
                      270deg,
                      $btnBackgroundFirst 0%,
                      $btnBackgroundSecond 100%
      );

      transition: opacity 0.2s linear;

      &:hover {
        opacity: 0.9;
        transition: opacity 0.2s linear;
      }

      @media (max-width: 375px) {
        width: 250px;
      }
    } /* sending__btn */

    @media (max-width: 375px) {
      font-size: 15px;
    }
  } /* sending__link */

  .sending__text {
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    color: $white;

    mix-blend-mode: normal;
    opacity: 0.5;

    @media (max-width: 375px) {
      font-size: 10px;
      line-height: 12px;
    }
  } /* sending__text */
}  /* sending */
