.sending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'SFProDisplay', sans-serif;

  .sending__link{
    text-decoration: none;

    .sending__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 54px;
      border-radius: 30px;
      color: $white;
      border: none;

      background: linear-gradient(
                      270deg,
                      $btnBackgroundFirst 0%,
                      $btnBackgroundSecond 100%
      );

      transition: opacity 0.2s linear;

      &:hover {
        opacity: 0.9;
        transition: opacity 0.2s linear;
      }
    }
  }

  .sending__text {
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    color: $white;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
