<!DOCTYPE html>
<html lang="en">
<head>
	{{> head }}
</head>
<body>
<div class="page">
	{{> header }}

	<main class="main">
		<div class="container">
			<h1 class="title"></h1>

			<ul class="content">
				<li class="content__item">
					<div class="icon">
						<img
							class="icon__img"
							src="../assets/images/unlimitedDocs.svg"
							alt="Unlimited documents"
						/>
					</div>
					<p class="content__text--1"></p>
				</li>
				<li class="content__item">
					<div class="icon">
						<img
							class="icon__img"
							src="../assets/images/export.svg"
							alt="Export to clouds"
						/>
					</div>
					<p class="content__text--2"></p>
				</li>
				<li class="content__item">
					<div class="icon">
						<img
							class="icon__img"
							src="../assets/images/noAds.svg"
							alt="Text recording"
						/>
					</div>
					<p class="content__text--3"></p>
				</li>
			</ul>

			<section class="offer">
				<div class="offer__item--1">
					<h4 class="offer__title--1"></h4>
					<div class="offer__price--1"></div>
					<div>
						<p class="offer__status--1"></p>
					</div>
					<p class="offer__ month--1">$9.99 month</p>
				</div>
				<div class="offer__item--2">
					<h4 class="offer__title--2"></h4>
					<div class="offer__price--2"></div>
					<div>
						<p class="offer__status--2"></p>
					</div>
					<p  class="offer__ month--2">$19.99 month</p>
				</div>
			</section>

			<section class="sending">
				<button type="button" class="sending__btn"></button>
				<p class="sending__text"></p>
			</section>

		</div> <!--container-->
	</main>

	{{> footer }}
</div>

<script defer src="../assets/js/app.js"></script>
<script>
</script>
</body>
</html>
