<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <div class="page">
      {{> header }}

      <main class="main">
        <div class="container">
          <h1 class="title">Unlimited Access to All Features</h1>

          <ul class="content">
            <li class="content__item">
              <div class="icon">
                <img
                  class="icon__img"
                  src="../assets//images/unlimitedDocs.svg"
                  alt="Unlimited documents"
                />
              </div>
              <p class="content__text">Unlimited documents</p>
            </li>
            <li class="content__item">
              <div class="icon">
                <img
                  class="icon__img"
                  src="../assets//images/export.svg"
                  alt="Export to clouds"
                />
              </div>
              <p class="content__textt">Export to clouds</p>
            </li>
            <li class="content__item">
              <div class="icon">
                <img
                  class="icon__img"
                  src="../assets//images/noAds.svg"
                  alt="Text recording"
                />
              </div>
              <p class="content__text">Text recognition (OCR)</p>
            </li>
          </ul>

          <section class="offer">
            <div class="offer__item">
              <h4 class="offer__title">Monthly</h4>
              <div>
                <p>$9.99</p>
                <p>per month</p>
              </div>
              <div>
                <p>3 DAYS FREE!</p>
              </div>
              <p>$9.99 month</p>
            </div>
            <div class="offer__item">
              <h4 class="offer__title">Annually</h4>
              <div>
                <p class="price">$19.99</p>
                <p>per year</p>
              </div>
              <div>
                <p>most popular</p>
              </div>
              <p>$9.99 month</p>
            </div>
          </section>

          <section class="sending">
            <button type="button" class="sending__btn">Continue</button>
            <p class="sending__text">Auto-rewable. Cancel anytime</p>
          </section>

        </div> <!--container-->
      </main>

      {{> footer }}
    </div>

    <script src="assets/js/app.js"></script>
  </body>
</html>
