<!DOCTYPE html>
<html>
<head>
	{{> head }}
</head>
<body>
<div class="page">
	{{> header }}

	<main class="main">
		<div class="container">

			<section class="content">
				<h1 class="title"></h1>
				<ul class="content__intro">
					<li class="content__item">
						<div class="icon">
							<img
								class="icon__img"
								src="assets/images/unlimitedDocs.svg"
								alt="Unlimited documents"
							/>
						</div>
						<p class="content__text1"></p>
					</li>
					<li class="content__item">
						<div class="icon">
							<img
								class="icon__img"
								src="assets/images/export.svg"
								alt="Export to clouds"
							/>
						</div>
						<p class="content__text2"></p>
					</li>
					<li class="content__item">
						<div class="icon">
							<img
								class="icon__img"
								src="assets/images/noAds.svg"
								alt="Text recording"
							/>
						</div>
						<p class="content__text3"></p>
					</li>
				</ul> <!--content__intro-->
			</section> <!--intro-->

			<section class="offers">
				<div class="offer__item1 active">
					<h4 class="offer__title1"></h4>
					<div class="offer__price1"></div>
					<div class="offer__rectangle1 active__rectangle">
						<p class="offer__status1"></p>
					</div>
					<p class="offer__month1"></p>
				</div>
				<div class="offer__item2">
					<div class="offer__discount"></div>
					<h4 class="offer__title2"></h4>
					<div class="offer__price2"></div>
					<div class="offer__rectangle2">
						<p class="offer__status2"></p>
					</div>
					<p class="offer__month2"></p>
				</div>
			</section> <!--offers-->

			<section class="sending">
				<a href="https://apple.com/" class="sending__link">
					<button type="button" class="sending__btn"></button>
				</a>
				<p class="sending__text"></p>
			</section>

		</div> <!--container-->
	</main>

	{{> footer }}
</div> <!--page-->

<script defer src="assets/js/app.js"></script>
</body>
</html>
